body{
    background-color: black;
    font-family: 'Patua One', cursive;
}

.im-logo{
    background-image: url(../img/Schneider_Electric_Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 111px;
    height: 39px;
}

.im-logo2{
    background-image: url(../img/Logo_FIAP.png);
    margin-top: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 111px;
    height: 39px;
}

#nv1{
    background-color: #3ACC61;
    min-height: 54px;
    padding: 0% 10% 0% 10%;
    position: fixed;
}

#bar1{
    --bs-navbar-padding-x:var(--bs-navbar-padding-x);
    min-height: 54px;
    
}

.navbar{
    align-items: start;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex;
        justify-content: flex-end;
    }
}

.nav-link {
    margin: 0 10px;
}

.btn-1{
    transition: transform 100ms linear;
}
.btn-1:hover{
    transform: scale(1.10);
}

.fundo{
    --bs-gutter-x:0;
    padding-left: 0;
    padding-right: 0;
}

.feeds .feed{
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    padding: 5%;
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
    color: white;
}

.feed .head{
    display: flex;
}

.feed .user{
    display: flex;
    gap: 1rem;
}

.feed .photo{
    border-radius: 10px;
    overflow: hidden;
    margin: 0.7rem 0;
}

.feed .action-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}

.liked-by{
    display: flex;
}

.liked-by span{
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    margin-left: -0.6rem;
}

.liked-by span:first-child{
    margin: 0;
}

.liked-by p{
    margin-left: 0.5rem;
}

.container-footer{
    max-width: 1400px;
    padding:0 4%;
    margin: auto;
    display: flex;
}

.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    height: 200px;
    background: #0c0c0c;
}

.footer-col{
    width: 50%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 22px;
    color: #838383;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.footer-col{
    list-style: none;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li{
    margin: 10px 0;
}

.footer-col ul li a{
    font-size: 16px;
    color: #3ACC61;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #227939;
    padding-left: 10px;
}
